<!DOCTYPE html>
<html>
  <head>
    <title>Logging State</title>
    <script type = "text/javascript" src = "{{url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type = "text/javascript" src = "{{url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
    <script type = "text/javascript" src = "{{url_for('static', filename='js/application.js') }}"></script>
    <script type = "text/javascript" charset = "utf-8"></script>
  </head>
  <body>
    <h1>MQTT-Logger</h1>

    <p>Average latency: <b><span id = "ping-pong"></span> ms</b></p>

    <h2>Logging:</h2>
    <select id = "state">
      <option value = "On">ON</option>
      <option value = "Off">OFF</option>
    </select>

    <h2>Log:</h2>
    <div id = "Log"></div>
  </body>
</html>